.contenido__portada{
    height: fit-content;
    padding-bottom: 64px;
}
.portada__titulo{
    padding-top: 96px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}
.portada__titulo h1 {
    font-size: 4.8rem;
}
.portada__titulo p {
    font-size: 3.2rem;
}
.portada__foto{
    max-width: 240px;
}
.cuadricula__proyecto{
    width: 50%;
}