.contenido__portada{
    height: fit-content;
    padding-bottom: 64px;
    margin: 0 auto;
}
.portada__contenedor{
    width: 70%;
}
.portada__titulo{
    padding-top: 96px;
    padding-left: 32px;
    text-align: left;
}
.portada__titulo h1 {
    font-size: 4.8rem;
}
.portada__titulo p {
    font-size: 3.2rem;
}
.portada__foto{
    max-width: 240px;
}
.cuadricula__proyecto{
    width: 50%;
}