* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;  /* 1rem = 10px */
    font-family: 'Open Sans', sans-serif;
}

/* . . .  */

.navegacion{
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
}
.navegacion ul{
    padding-left: 22px;
}
.navegacion__item{
    text-decoration: none;
    list-style: none;
}

.navegacion__item a{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-decoration: none;
    color: yellow;
}


/* . . .  */
.contenido{
    display: inline-block;
}

.contenido__portada{
    display: flex;
    width: 100%;
    height: 40%;
}
.portada__foto{
    padding: 8px;
}

.portada__foto img{
    width: 120px;
    height: auto;
    margin: 0 auto;
    border: 0.1rem solid yellow;
}

.portada__titulo{
    width: 90%;
    align-items: center;
}
.portada__titulo h1{
    padding-top: 32px;
    font-size: 2.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: yellow;
}

.portada__titulo p{
    padding-top: 16px;
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: yellow;
}

/* . . .  */
.contenido__puntos-clave{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.puntos-clave__titulo{
    color: yellow;
}

.puntos-clave__lista{
    color: yellow;
}

/* . . . */
.contenido__perfil{
    display: flex;
    width: 100%;
}

.perfil__lateral{
    width: 50%;
    height: 160px;
}

.lateral__enlace{
    margin-top: 45%;
    margin-left: 30%;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: yellow;
}

/* . . .  */
#contacto{
    display: flex;
    width: 100%;
    /* text-align: left; */
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    height: 10vh;
    /* right: 20px; */
}

#contacto p{
    /* display: block; */
    padding-top: 16px;
    /* text-align: left; */
    /* justify-content: left; */
    padding-right: 42px;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: yellow;
}


