:root{
    /* Paleta de colores. 
    https://coolors.co/fffcf2-ccc5b9-403d39-252422-eb5e28
    */
    --blanco-floral: #fffcf2;
    --plata-palido: #ccc5b9;
    --negro-oliva: #403D39;
    --negro-mora: #252422;
    --flama: #eb5e25;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;  /* 1rem = 10px */
    font-family: 'Open Sans', sans-serif;
}

/* . . .  */
.navegacion{
    background-color: var(--negro-mora);
}

.navegacion__contenedor{
    height: 48px;
    padding-top: 16px;
}

.navegacion__lista{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}

.navegacion__item a{
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--plata-palido);
    padding-right: 16px;
}

/* . . .  */
.contenido{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* Algunas ediciones a toda la hoja */
    background-color: var(--blanco-floral);
}
/* . . .  */

.contenido__portada{
    height: 80vh;
    padding: 12px;
}

.portada__contenedor{
    width: 80%;
    margin: 0 auto;
}

.portada__foto{
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
}

.portada__foto img{
    width: 132px;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
}

.portada__titulo{
    padding-top: 64px;
    width: 100%;
    text-align: center;
}

.portada__titulo h1{
    font-size: 4.2rem;
    line-height: 5.2rem;
    font-weight: bold;
    color: var(--negro-mora);
}

.portada__titulo p{
    padding-top: 32px;
    padding-bottom: 64px;
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
    color: var(--negro-mora);
}

.contenido__circulo{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 300px;
    left: 165px;
    border-radius: 50%;
    background-color: var(--flama);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* . . .  */

.contenido__puntos-clave{
    width: 100%;
    margin-top: 42px;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.contenido__puntos-clave h2{
    text-align: center;
    color: var(--negro-mora);
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: bold;
}

.puntos-clave__contenedor{
    width: 75%;
    margin: 0 auto;
}

.punto-clave__contenedor{
    margin: 5px;
    padding: 5px;
}

.punto-clave__imagen-contenedor{
    margin: 5px;
    padding: 5px;
}

.punto-clave__imagen-contenedor img{
    height: 25px;
    width: auto;
}

.punto-clave__descripcion{
    margin: 5px;
    padding: 5px;
}

/* . . . */
.contenido__perfil{
    width: 100%;
}

.perfil__lateral{
    width: 50%;
    height: 30vh;
}

.lateral__enlace{
    margin-top: 45%;
    margin-left: 30%;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: var(--negro-mora);
}

/* . . .  */
#contacto{
    display: flex;
    width: 100%;
    /* text-align: left; */
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    height: 10vh;
    /* right: 20px; */
    /* background-image: url('../assets/github_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#contacto p{
    /* display: block; */
    padding-top: 16px;
    /* text-align: left; */
    /* justify-content: left; */
    padding-right: 42px;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: var(--negro-mora);
}


