:root{
    /* Paleta de colores. 
    https://coolors.co/fffcf2-ccc5b9-403d39-252422-eb5e28
    */
    --blanco-floral: #fffcf2;
    --plata-palido: #ccc5b9;
    --negro-oliva: #403D39;
    --negro-mora: #252422;
    --flama: #eb5e25;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;  /* 1rem = 10px */
    font-family: 'Open Sans', sans-serif;
    /* Algunas ediciones a toda la hoja */
    background-color: var(--plata-palido);
}

/* . . .  */
.navegacion__lista{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 1vh;
}

.navegacion__item a{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-decoration: none;
    color: var(--negro-mora);
}


/* . . .  */
.contenido{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.contenido__portada{
    width: 100%;
    height: 40%;
    text-align: center;
}
.portada__foto{
    padding: 8px;
}

.portada__foto img{
    width: 120px;
    height: auto;
    margin: 0 auto;
    border: 0.1rem solid var(--flama);
}

.portada__titulo{
    width: 100%;
    align-items: center;
}

.portada__titulo h1{
    padding-top: 32px;
    font-size: 2.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: var(--negro-mora);
}

.portada__titulo p{
    padding-top: 16px;
    line-height: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    color: var(--negro-mora);
}

/* . . .  */
.contenido__puntos-clave{
    width: 100%;
    margin-top: 42px;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.puntos-clave{
    width: 60%;
    margin: 0 auto;
}
.puntos-clave__titulo h2{
    text-align: center;
    color: var(--negro-mora);
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: bold;
}

.puntos-clave__lista{
    padding-top: 16px;
    list-style: none;
}

.puntos-clave__lista li{
    padding-top: 4px;
    font-size: 1.4rem;
    color: var(--negro-mora);
    line-height: 1.6rem;
}

/* . . . */
.contenido__perfil{
    width: 100%;
}

.perfil__lateral{
    width: 50%;
    height: 30vh;
}

.lateral__enlace{
    margin-top: 45%;
    margin-left: 30%;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: var(--negro-mora);
}

/* . . .  */
#contacto{
    display: flex;
    width: 100%;
    /* text-align: left; */
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    height: 10vh;
    /* right: 20px; */
    /* background-image: url('../assets/github_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#contacto p{
    /* display: block; */
    padding-top: 16px;
    /* text-align: left; */
    /* justify-content: left; */
    padding-right: 42px;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: var(--negro-mora);
}


